<section class="d-flex flex-column align-items-center justify-content-center" style="height:80vh;">
  <h1 class='app_name'>Grow Rich</h1>
  <section class="container-fluid d-grid flex-column gap-2 mt-5">
    <%= link_to "Log in", user_session_path, class:"btn btn-primary" %>
    <%= link_to "Sign up", new_user_registration_path, class:"btn btn-light"  %>
  </section>
</section>